@font-face {
  font-family: 'NanumBarunGothic';
  src: local('NanumBarunGothic'),
  url(../NanumBarunGothic.woff) format('woff'),
  url(../NanumBarunGothic.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

/* 타이틀 스타일링 */
.nav {
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  align-items: center;
  background: rgba(0,0,0,.03);
}
.mainTitle {
  font-size: 25px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  /* margin-bottom: 1.5rem; */
  margin-bottom: 1rem;
}
.subTitle_Area {
  display: flex;
  justify-content: space-between;
}
.subTitle {
  font-weight: bold;
}

/* information_Area와 character_Area를 묶는 공간*/
.content_Area {
  align-items: center;
  justify-content: center; 
  text-align: center;
}
/* 코스튬 코디가 표시되는 공간*/
.information_Area {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center; 
  justify-content: center; 
}
/* 코스튬 선택, 다운로드 버튼이 있는 공간*/
.character_Area {
  margin-top: 2rem;
  margin-left: 4rem;
}

/* 안내사항 스타일링 */
.patch_Info {
  border: 1px solid black;
  background: rgba(0,0,0,.03);
}
.text_Area {
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
  font-size: 12px;
}

/* 다운로드버튼 스타일링 */
.DL_button {
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}
.download_button{
  display: inline-block;
  width: 116px;
  height: 48px;
    margin-bottom: 2rem;
  background:#489CFF;
  color:#fff;
  border:none;
  position:relative;
  font-size:1.2em;
  padding:0.7em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  text-decoration: none;
  box-sizing: border-box;
}
.download_button:hover{
  background:#fff;
  color:#489CFF;
}
.download_button:before,.download_button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #489CFF;
  transition:400ms ease all;
}
.download_button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.download_button:hover:before,.download_button:hover:after{
  transition:800ms ease all;
}

/* 기본 정보 스타일링 */
body {
  font-family: "NanumBarunGothic";
}
canvas {
  width: 960px;
  height: 540px;
  border: 1px solid black;
}
select {
  width: 220px;
  padding: 4px;
  border: 0;
  border-bottom: 2px solid #999;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
select::-ms-expand {
  display: none;
}
select:hover {
  border-bottom: 2px solid #0075ff;
}
td {
  width:100px;
  height:50px;
}

/* 클로저 정보 입력칸 스타일링 */
.character_Area_Detail {
  margin-left: 2rem;
  position: relative;
}
.costume_select_Detail {
    position: relative;
    display: flex;
    text-align: center;
}